.SRactive{
	color: red !important;
}
.SRinactive{
	background: #F5F5F5;
	border: 3px solid darkgray;
	border-radius: 30px;
	padding: 10px 80px;
}
}
.SRwrap{
	color: #2e2e2e;
}
#RBMain{
	display: table-cell;
}
.quoteOn{
	font-style: italic;
	background: #e8e8e8;
}
#RBWrap {
	position: fixed;
	top: 133px; 
	left: -544px;
	z-index: 333333;
	width: 100%;
	font-size: 24px;
	margin-top: 25px;
	display: table;
}
